pandas==2.1.1
numpy==1.24.3
tensorflow==2.13.0
matplotlib==3.8.0
seaborn==0.12.2
clustimage==1.5.20
opencv-python==4.8.0.76
ipykernel==6.25.2
colour==0.1.5
scikit-fuzzy==0.4.2
numba==0.58.0
umap-learn==0.5.4
tqdm==4.66.1
ipywidgets==8.1.1
scikit-image==0.21.0
scikit-learn-extra==0.3.0       